<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href=""><img src="../../../../../assets/marc.jpg" class="img" alt=""></a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Alec Thomson</h6>
                    </div>
                    <h6 class="card-category text-gray">CEo / Co-Founder</h6>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <a href="" class="btn btn-primary btn-round">Like</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">مشخصات مربی</h4>
                        <p class="card-category">نام و نام خانوادگی</p>
                    </div>
                    <div class="card-body" style="height: 700px;">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
