<mat-toolbar color="primary">
    <button mat-button fxHide fxHide.xs="false" class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
   <!--<button mat-button fxHide.xs="true" class="sidenav-toggle" (click)="toggle()">
        <mat-icon>menu</mat-icon>
    </button>-->
    <button mat-raised-button="" class=" sidenav-toggle btn btn-just-icon btn-white btn-fab btn-round" (click)="toggle()">
        <i class="material-icons text_align-center visible-on-sidebar-regular" *ngIf="!menuIcon">more_vert</i>
        <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini" *ngIf = "menuIcon">view_list</i>
    </button>
    <span>داشبورد</span>

    <div class="navbar-icon">
        <ul class="navbar-nav">
            <li><a href="#pablo"><i class="material-icons">dashboard</i></a></li>

           </ul>
    </div>
</mat-toolbar>