<div class="card mb-4">
  <div class="card-imd-wrapper">
    <img class="card-img-top" src="{{coach.photoUrl}}" alt="{{coach.lastName}}">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i></h6>
    {{coach.firstName}}, {{coach.lastName}}
    <p class="card-text text-muted text-center">presentation</p>
  </div>
</div>






















<!-- 




  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="https://www.mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="https://www.mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="https://www.mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    
  </div> -->