<mat-sidenav-container >

  <mat-sidenav #end position="end" [opened]="!isScreenSmall" [mode]="isScreenSmall ? 'over':'side'">

    <mat-toolbar color="accent">
          <img src="https://material.angular.io/favicon.ico" style="height:50px;margin-top: 2px; margin-bottom: 2px;">
          <span>
            برنامه من
          </span>
    </mat-toolbar>

    <mat-nav-list>
      
        <a mat-list-item [routerLink]="['/home']" (click)="onSidenavClose()">
          <mat-icon aria-label="home">home</mat-icon> <span class="nav-caption">خانه</span>
      </a>
    
        <a mat-list-item [routerLink]="['/home']" (click)="onSidenavClose()">
          <mat-icon role="img" aria-label="forms">content_paste</mat-icon> <span class="nav-caption">فرم</span>
      </a>
 
        <a mat-list-item [routerLink]="['/home']" (click)="onSidenavClose()">
          <mat-icon role="img" aria-label="charts">show_chart</mat-icon> <span class="nav-caption">نمودارها</span>
      </a>
      
    </mat-nav-list>
  </mat-sidenav>
  
    <mat-sidenav-content fxLayout="column" fxFlex="1 1 100%" fxFill>
        <app-toolbar (toggleSidenav)="end.toggle()"></app-toolbar>
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
</mat-sidenav-container>

